* {
  box-sizing: border-box;
  cursor: default;
  text-align: center;
}
body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline: none;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  border: none;
  font-size: 20px;
  text-align: center;
  cursor: text;
}
button {
  background-color: transparent;
  text-decoration: none;
  list-style: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
