.footer {
  bottom: 0;
  margin-top: 20px auto;
  padding: 40px;
  text-align: center;
  background-color: #fbfbfd;
}

.facebook-icon,
.instagram-icon {
  color: gray;
  padding: 0 7px;
  transition: all 300ms ease-in-out;
}
.facebook-icon:hover,
.instagram-icon:hover {
  transform: scale(1.14) rotate(3deg);
  color: black;
}
.icon {
  font-size: 2rem;
}

.liberzen-address {
  color: black;
  margin: 20px 0px;
}
.copyright {
  margin: 20px 0px;
  font-size: 12px;
  color: gray;
}
@media screen and (max-width: 768px) {
  .liberzen-address {
    font-size: 10px;
  }
}
