.video-box {
  background-color: black;
  text-align: center;
  margin: 3rem auto;
  width: 90vw;
  height: 80vh;
}
.video {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.photo-box {
  display: none;
}
.photo-item {
  margin: 0.5rem;
  flex-basis: 43%;
  height: 97%;
}
.hero-img {
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  .photo-box {
    padding: 3.5rem 0px 15px 0px;
    background-color: #000000;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
  }
  .hero-img:nth-child(2) {
    border-top: 2px solid white;
  }
  .photo-item {
    width: 90%;
    height: 60vh;
    margin: 0.1rem;
  }
}
